@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .regular-title {
        @apply 
            text-center 
            text-4xl 
            font-semibold
        ;
    }

    .smaller-title {
        @apply 
            font-medium 
            text-lg 
            text-center
        ;
    }

    .regular-input {
        @apply 
            px-2
            py-1 
            border-2 
            rounded-md 
            outline-none 
            focus:border-orange-500
        ;
    }
    
    .transform-button {
        @apply 
            text-center transition-transform
            hover:-translate-y-[0.125rem]
            *:block *:w-full *:p-2 
            *:rounded *:border *:border-transparent *:transition-colors
            hover:*:border-gray-300 hover:*:shadow-md 
        ;
    }
}
